src/rust/target
src/rust/vendor
src/*.o
src/*.so
src/*.dll
src/*.a
src/a5R-win.def
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
src/Makevars
src/Makevars.win
.claude/
.vscode/
dev.R
docs
/doc/
/Meta/
scratch/
/.quarto/
vignettes/*_files/
